<section class="content">
  <div class="container">
    <div class="content__box">
      <div class="content__film film-page">
        @if (film) {
        <div class="film-page__image">
          <img [src]="film.image" alt="film" class="film-page__image-img" />
        </div>
        <div class="film-page__info">
          <div class="film-page__info-content">
            <div class="film-page__info-titles">
              <h2 class="film-page__info-title">{{film.title}},</h2>
              <p class="film-page__info-subtitle">{{film.original}}</p>
            </div>
            <p class="film-page__info-description">{{film.category}}</p>
            <p class="film-page__info-rating">{{film.rating}}</p>
            <p class="film-page__info-text">
              {{film.description}}
            </p>
            <!-- <p class="film-page__info-text">
              Очнувшись, Уотни обнаруживает, что связь с Землёй отсутствует, но при этом
              полностью функционирует жилой модуль. Главный герой начинает искать способ
              продержаться на имеющихся запасах еды, витаминов, воды и воздуха ещё 4 года до
              прилёта следующей миссии «Арес-4».
            </p> -->
          </div>
          <div class="film-page__info-controls">
            <button type="button" class="film-page__info-button">Смотреть</button>
          </div>
        </div>
        }
      </div>
      <app-sidebar title="Подборки фильмов и сериалов" class="content__sidebar" />
    </div>
  </div>
</section>
