<li class="film">
  <a [routerLink]="['/film', film.id]" class="film__link">
    <div class="film__image">
      <img [src]="film.image" [alt]="film.title" class="film__image-img" />
    </div>
    <div class="film__titles">
      <strong class="film__title">{{film.title}},</strong>
      <span class="film__subtitle">{{film.original}}</span>
    </div>
    <p class="film__description">
      @for (category of film.category; track $index) {
      <span class="film__description-item">{{category}}</span>
      }
    </p>
    <p class="film__rating">{{film.rating}}</p>
  </a>
</li>
