.content {
  &__error {
    &-title {
      font-size: 26px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 20px;
    }

    &-link:hover {
      text-decoration: underline;
    }
  }
}
