<li class="sidebar__item">
  <h5 class="sidebar__item-title">{{sidebarText.title}}</h5>
  <p class="sidebar__item-info">
    {{sidebarText.content}}
  </p>
</li>
<!-- <li class="sidebar__item">
  <h5 class="sidebar__item-title">Топ-250</h5>
  <p class="sidebar__item-info">
    Подборка фильмов и сериалов с наивысшими оценками зрителей
  </p>
</li>
<li class="sidebar__item">
  <h5 class="sidebar__item-title">Посмеяться от души</h5>
  <p class="sidebar__item-info">
    Подборка комедий, которые помогут расслабиться после работы
  </p>
</li>
<li class="sidebar__item">
  <h5 class="sidebar__item-title">Запутанный сюжет</h5>
  <p class="sidebar__item-info">
    Триллеры и приключения с запутанным и интересным сюжетом. Невозможно оторваться!
  </p>
</li> -->
